!!! 5
html(lang="en-us")
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=Edge;chrome=1")
  title(dir="ltr")=$pageTitle
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    header
      h1 My Jade Application
    div#content
      div.inner
        =$this->dump_content()
    
      div.inner
        =$this->dump_menu()
    
      div.inner
        =$this->texfield()
    
      div.inner
        =$this->bodyContent()